---
// About page
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>About | Harsha Vemulapalli</title>
  </head>
  <body>
    <h1>About</h1>
    <p>Hi. I'm Harsha, a UX and research executive with 25+ years shaping customer experiences for Fortune 100 enterprises across a variety of B2C and B2B touchpoints.</p>
    <a href="/">← Home</a>
  </body>
</html>